<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
   </head>

<body>
<!--footer-->
<th:block id="footer">

    <!--<div class="foot_app">
        <div class="foot_cont">
            <span class="ico_qrcode_01"></span>
            <div class="foot_down_msg">
                <p class="txt">上下学,上下班的无聊路途给你带来欢乐的唯一APP<br>	现在就下载到手机吧!</p>
                <a data-buried-obj="1" data-sc-name="PC_foot-module_android-download-btn" href="http://app.mi.com/details?id=com.naver.linewebtoon.cn" target="_blank" class="btn_google NPI=a:android,g:zh_CN_zh-hans">Android</a>
                <a data-buried-obj="1" data-sc-name="PC_foot-module_iOS-download-btn" href="https://itunes.apple.com/cn/app/dong-man/id1168836057?mt=8" target="_blank" class="btn_ios NPI=a:ios,g:zh_CN_zh-hans">iOS</a>
            </div>
        </div>
    </div>

    <ul class="foot_menu _footer">

        <li><a data-buried-obj="1" data-sc-name="PC_foot-module_feedback-btn" href="https://m.help.naver.com/support/inquiry/input.nhn?serviceNo=16799&amp;categoryNo=13755" rel="nofollow" class="_linkFeedback">反馈</a></li>
        <li class="bar">|</li>
        <li><a data-buried-obj="1" data-sc-name="PC_foot-module_help-btn" href="https://help.naver.com/support/service/main.nhn?serviceNo=16798&amp;lang=zh-hans" rel="nofollow" class="N=a:fot.help,g:zh_CN_zh-hans" target="_blank">帮助</a></li>
        <li class="bar">|</li>
        <li><a data-buried-obj="1" data-sc-name="PC_login-popup-module_term-btn" href="//www.dongmanmanhua.cn/terms" class="NPI=a:tos,g:zh_CN_zh-hans">条款</a></li>
        <li class="bar">|</li>
        <li><a data-buried-obj="1" data-sc-name="PC_login-popup-module_personal-term-btn" href="//www.dongmanmanhua.cn/terms#privacyPolicy" class="NPI=a:privacy,g:zh_CN_zh-hans" onclick="goPrivacy()">个人信息</a></li>
        <li class="bar">|</li>
        <li><a data-buried-obj="1" data-sc-name="PC_foot-module_company-btn" href="//www.dongmanmanhua.cn/introduction/company" class="NPI=a:tos,g:zh_CN_zh-hans">公司介绍</a></li>
    </ul>-->
    <div class="foot_app">
        <div class="left">
            <div class="img">
                <img th:src="@{/images/ewm1.png}" /> <img th:src="@{/images/ewm2.png}" />
            </div>
        </div>
        <div class="right">
            <div class="rl">
                <img th:src="@{/images/erm3.png}" />

            </div>
            <div class="rr">
                <p class="txt">
                    上下学,上下班的无聊路途给你带来欢乐的唯一APP<br> 现在就下载到手机吧!
                </p>
                <div class="f_bottom">
                    <span class="sl">Andorid</span> <span class="sr">ios</span>
                </div>

            </div>
        </div>

    </div>
    <div class="foot_infor">
        <ul>
            <li><a href="">反馈</a></li>
            <li class="bar">|</li>
            <li><a href="">条款</a></li>
            <li class="bar">|</li>
            <li><a href="">帮助</a></li>
            <li class="bar">|</li>
            <li><a href="">个人信息</a></li>
            <li class="bar">|</li>
            <li><a href="">公司介绍</a></li>
        </ul>
    </div>
    <div class="footer">
        <div class="container">
            <p class="footer-class">
                Copyright &copy; 2015.Company name All rights reserved.<a
                    target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                 */

                $().UItoTop({
                    easingType : 'easeOutQuart'
                });

            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span
                id="toTopHover" style="opacity: 1;"> </span></a>

    </div>
</th:block>
<!---->
</body>
</html>